*{
    margin: 0;
    box-sizing: border-box;
}

.checked{
    color: rgb(226, 8, 8);
    
}

body{
      background-image: url(/images/IMG-20220317-WA0001.jpg);
     max-width: 100%;
    max-height: 100%;
  } 

.head{
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2rem;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
}

h1{
   margin-bottom: 0;
   margin-left: 7%;
   font-size: 20px;
   font-weight: 900;
   text-align: center;
}
@media (max-width: 480px){
    h1{font-size: 15px;}
}

.star{
    text-align: center;
}

table.cent, table.cent1, table.cent2{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

}
.box{
    color: rgba(12, 53, 12, 0.918);
    padding-right: 10px;   
}

.bod,.bod1,.bod2{
    color: green;
    font-weight: 600;
}

.heading{
    font-size: 20px;
    padding-left: 20px;
}

ul li{
    list-style: none;
    border: 2px solid pink;
    padding: 10px 20px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
   margin-left: 30%;
   margin-right: 30%;  
    background: green;
}

ul li a{
    text-decoration: none;
    width: 50%;  
    color: white;
    font-weight: 600;
    
}
@media (max-width: 320px){
    ul li{
        border: 20px;
        width: 80%;
        margin-left: 10%;
    }
    ul li a{
        width: 120%;
        font-weight: lighter;

    }
}
h4{
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 7px;
}
h5{
    text-align: center;
    font-weight: bold;
    line-height: 15px;
    padding: 20px;
    font-size: 15px;
}

@media only screen and (max-width: 320px){
    body{
        width: 100%;
    }
}